.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background: linear-gradient(180deg, #FFB800 0%, #CC8700 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 2px 4px 4px #986400;
    cursor: pointer;
    overflow: hidden;
    &:focus {
        outline: none;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
        height: 100%;
        background: rgba(255,255,255,.5);;
        transform: translateX(-4em) skewX(45deg);  
    }
    &:hover:before {
        animation: btn-light .6s;      
    }
}