.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
}
.subtitle {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}
.block__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.block__descr {
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;    
}
.fz_20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}